.container {
  display: flex;              /* enable flex */
  justify-content: center;    /* horizontal centering */
  align-items: center;        /* vertical centering */
  /* flexible container height - let content decide on smaller devices */
  border: 1px solid #ccc;

}